@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #232120;
  --color-orange: #F05123;
  --color-orange-hover: #d83a0e;
  --color-branco: #F1F3F4;
}

.container{
  width:75%;
  margin: 0 auto;
}
.fabars {
  color: var(--color-orange)
}

.header {
  display: grid;
  grid-template-columns: 20px 1fr 1fr;
  background-color: var(--color-black);
  overflow: auto;
  align-items: center;
}

.header>.user-area {
  text-align: right;
}

.header>.user-area span {
  background-color: var(--color-orange);
  border-radius: 100px;
}

.btn-add {
  background-color: var(--color-orange);
}

.btn-add:hover {
  background-color: var(--color-orange-hover);
}
